@media (max-width: 1000px) {
  .wrapper{
    width: auto;
	}
  .page{
  	width: inherit;
  }
  #header, #footer{
  	width: auto;
  	padding: 0px 20px 0px 20px;
  }
  #searchbox{
  	width: 100%;
  }
  .result{
  	width: 30%;
  	min-width: 200px;
  	text-align: left;
  }
  #results-wrap{
    width: 100%;
  	text-align: center;
  }
}
@media (max-width: 850px) {
  .result{
  	width: 45%;
  	min-width: 200px;
  }

}
@media (max-width: 700px) {
  .result{
  	width: 100%;
  	min-width: 200px;
    margin: 5px 0px 5px 0px;
  }
  .page{
    padding: 20px;
  }
}
@media (max-width: 600px){
  .register-wrap{
    width: 100%;
    box-sizing: border-box;
  }
  #registration input[type=submit]{
    width: 100%;
  }
  .register-heading{
    font-size: 2.6em;
  }

}
