@media (max-width: 1024px) {
  .wrapper{
    width: auto;
	}
  .page{
  	width: auto;
    padding: 30px;
  }
  #header, #footer{
  	width: auto;
  	padding: 0px 20px 0px 20px;
  }
  #promo_headline{
    margin-top:100px;
  }
  .search_select{
    width: 28%;
  }
  #searchbox{
  	width: 100%;
  }
  .result{
  	width: 30%;
  	min-width: 200px;
  	text-align: left;
  }
  #results-wrap{
    width: 100%;
  	text-align: center;
  }
}
@media (max-width: 850px) {
  .result{
  	width: 45%;
  	min-width: 200px;
  }
  .search_select{
    width: 24%;
  }

}
@media (max-width: 700px) {
  .result{
  	width: 100%;
  	min-width: 200px;
    margin: 5px 0px 5px 0px;
  }
  .page{
    padding: 20px;
  }
  #promo_headline{
    width: 100%;
    margin-top: 100px;
  }
   #searchbox{
    margin-top: 30px;
  }
  #searchbox input{
    display: block;
  }
  #searchbox img{
    margin: 0px;
  }
  #geolocation{
    margin: 10px!important;
    float: left;
  }
  #index_search{
    margin: 10px;
  }
  .search_select{
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
  }
}
@media (max-width: 600px){
  .register-wrap{
    width: 100%;
    box-sizing: border-box;
  }
  #registration input[type=submit]{
    width: 100%;
  }
  .register-heading{
    font-size: 2.6em;
  }
  #promo_headline{
    margin-top: 80px;
  }
  h1{
    font-size: 2em;
  }
  #hotspot_title{
    padding: 20px;
  }
}
@media(max-width: 350px){
  #rating{
    width: 100%;
  }
  #send_review{
    width: 100%;
    margin: 20px 0px 50px 0px;
  }
}