/* Primary stylesheet for site theme*/
body{
	background-color: #f8f8f8;
	overflow-x: hidden;
	height: 100%;
}
#wrapper{
	min-height: 100vh;
	position: relative;
	overflow-x:hidden;
}
#content{
   padding-bottom:70px;
   overflow: hidden;
   height: auto;
}
.left{
	float:left;
}
.right{
	float: right;
}
.center{
	margin: 0 auto 0 auto;
}
.center-text{
	text-align: center;
}
.clear{
	clear: both;
}
h1{
	font-family: "Montserrat", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	margin: 20px 0px 20px 0px;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #333;
    margin: 10px 0px 10px 0px;
}
h3{

}
.page_wrap{
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(235, 231, 63, 0.88);
}
.page{
	width: 1024px;
	position: relative;
	overflow: hidden;
	height: auto;
}
.halfpage{
	width:50%;
}
.yellow_bg{
    background-color: rgba(235, 231, 63, 1);
}
.yellow_bg90{
    background-color: rgba(235, 231, 63, 0.9);
}
.padding10{
    padding: 10px;
}
.padding30{
    padding: 30px;
}
.padding50{
    padding: 50px;
}
.100wrap{
	width: 100%;
}
#header_wrap{
    height: 60px;
    width: 100%;
}
#header{
    width: 1024px;
    height: 60px;
}
#menu_icon{
	position: relative;
	top: 18px;
	right: 0px;
	display: block;
	z-index: 10;
}
#menu_wrap{
	width: 300px;
	height:100vh;
	position: absolute;
	top: 0px;
	background-color: #f8f8f8;
	z-index: 9;
	box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1);
}
#menu_wrap ul{
	border-top: 1px dashed #ccc;
}
#menu_wrap ul li{
	width: 100%;
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-family: "Montserrat", sans-serif;
	color: #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: -1px;
}
#menu_wrap ul li:hover{
	background-color:#F74B4B;
	border-bottom: 1px solid #D52E2E;
	color: #fff;
}
#close_menu{
	margin-left: 10px;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 2px;
}
#close_menu:hover{
	border: 1px solid #ccc;
	border-radius: 2px;
}
#close_menu:active{
	background-color: rgba(235, 231, 63, 1);
	border: 1px solid rgba(235, 231, 63, 1);
}
.menu-closed{
	right: -310px;
}
.menu-opened{
	right: 0px;
}
#login{
	text-align: center;
	height: 0px;
	overflow: hidden;
}
#login form{
	margin-top: 25px;
}
#login input{
	width: 80%;
	height: 30px;
	padding: 7px;
	margin: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: 0px;
}
#login input:focus{
	border: 1px solid #333;
}
#login input[type=submit]{
	color: #fff;
	background-color: #F74B4B;
	border: 1px solid #D52E2E;
	width: 50%;
	height: 40px;
}
.header-logo{
    margin-top: 12px;
}

#promo_headline{
	width: 600px;
	margin-top:150px;
	top: 100px;
	line-height: 1.2;
}

#searchbox{
	width: 996px;
	height: 50px;
	background-color: #fff;
	padding: 15px;
	border-radius: 4px;
	margin-top: 100px;
}
#searchbox img{
	margin-top: 8px;
}
#searchbox input[type=image]{
	outline: none;
	float:right;
	padding: 10px;
	border-radius: 3px;
}
#searchbox input[type=image]:hover{
	background-color: rgba(235, 231, 63, 0.8);
}
#searchbox input[type=image]:active{
background-color: rgba(235, 231, 63, 1);
}
#geolocation{
	cursor: pointer;
	margin-left: 30px;
	opacity: 0.8;
}
#geolocation:hover{
	opacity: 1;
}
#search-bar{
	width: 73%;
	height: 43px;
	font-family: inherit;
	font-weight: 100;
	font-size: 18px;
	margin: 0px 30px 0px 30px;
	background-color: #ECECEC;
	border: 2px solid #EFEFEF;
	border-radius: 3px;
	padding-left: 10px;
	color: #ccc;
}
.search_select{
	border: 1px solid #ccc;
	background-color: #F5F5F5;
	border-radius: 3px;
	padding: 8px;
	margin: 7px 0px 0px 20px; 
	width:340px;
}
#search-bar:focus{
	border: 2px solid #EBE73F;
	color: #000;
	outline: none;
}
#footer_wrap, #footer_scroll_wrap{
	width: 100%;
	height: 30px;
	padding: 10px 0px 10px 0px;
	background: #fff;
}
#footer_wrap{
	position: absolute;
	bottom: 0px;
	left:0px;
}
#copyright{
	margin: 10px 0px 10px 0px;
	font-family: sans-serif;
	color: #ccc;
	font-size: 12px;
}

.map-canvas { 
	height: 100vh;
	z-index: -1;
	width: 100%;
	position: absolute;
	top: 0px;
	margin: 0; 
	padding: 0;
}
.map-canvas-short{
	height:300px;
	width: 100%;
	margin: 0; 
	padding: 0;
}
.map-canvas-small{
	height: 200px;
	width:400px;
	margin: 30px 0px 30px 0px;
}
#registration input[type=text], #registration input[type=email], #registration input[type=password], #registration input[type=date]{
    display: block;
    width: 400px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    height: 30px;
    margin: 15px 0px 15px 0px;
}
#registration input:focus{
    outline: 0px;
    border: 1px solid #B3A647;
}
#registration input[type=submit]{
	width:421px;
	padding: 20px;
	text-align: center;
	background-color: #EBE73F;
	font: 14px "Montserrat", sans-serif;
	color: #fff;
	border:3px solid #fff;
	border-radius: 3px;
}
#registration input[type=submit]:hover{
	background-color:#F74B4B;
}
.register-heading{
	padding: 20px 30px 0px 30px
}
.register-wrap{
	width:422px;
	position: relative;
	text-align: center;
}
.result{
	padding: 20px;
	height: 250px;
	width: 235px;
	float:left;
	background-color: #EBE73F;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #D5D12E;
	border-bottom: 3px solid #D5D12E;
	box-sizing: border-box;

}
.result:hover{
	background-color: #F27A45;
	border: 1px solid #C75F31;
	border-bottom: 3px solid #C75F31;
}
#results-wrap{
	margin-top: 30px;
	overflow: hidden;
	height: auto;
}
#hotspot_title{
	padding: 20px 40px 40px 40px;
	background-color: #222222;
	overflow: hidden;
   	height: auto;
}
#hotspot_title, #hotspot_title h2{
	color: #fff;
}
#hotspot_title h3{
	max-width: 600px;
	line-height: 1.5;
}
#hotspot_address{
	margin-bottom: 20px;
}
#rating_overview{
	margin-left: 20px;
}
.user-review:nth-of-type(1){
	margin-top: 30px;
}
.user-review{
	padding: 30px;
	margin: 15px 0px 15px 0px;
	background-color: #EBE73F;
	border-radius: 3px;
	position: relative;
	min-height: 76px;
	overflow: hidden;
	height: auto;
}
.user-review p{
	margin-top: 7px;
	line-height: 1.4em;
	font-size: 0.9em;
}
.user-rating{
	height:auto;
	float: left;
}
.user-rating h2{
	font-family: "Open Sans",sans-serif;
	font-weight: 100;
	font-size: 3em;
	margin-top: 20px;
}
.timestamp{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 3px 20px 3px 20px;
	background-color: #D3D033;
	color: #fff;
	font-size: 0.8em;
}